#body{
	background: #130838;
}

.left{
	background: #ECECEC;
	margin-left: 4%;
	webkit-transform: skewY(-5deg);
	-moz-transform: skewY(-5deg);
	-ms-transform: skewY(-5deg);
	-o-transform: skewY(-5deg);
	transform: skewY(-5deg);
}

.left, .right {
	display: inline-block;
	width: 40%;
	height: 100%;
	border: 8px solid #BFBBBB;
	padding: 20px;
	position: relative;
	top: 30px;
}

.right{
	background: #717171;
	position: relative;
	vertical-align: top;
	margin-left: 2%;
	webkit-transform: skewY(-5deg);
	-moz-transform: skewY(-5deg);
	-ms-transform: skewY(-5deg);
	-o-transform: skewY(-5deg);
	color: white;
	border-color: #585858;
	transform: skewY(-5deg);
}

.lefttext, .righttext{
	font-family: Lato;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;


	webkit-transform: skewY(5deg);
	-moz-transform: skewY(5deg);
	-ms-transform: skewY(5deg);
	-o-transform: skewY(5deg);
	transform: skewY(5deg);
}

#container {
	height: 500px;
	width: 100%;
}

#title{
	text-align: center;
}
