#me {
    background: #053194;
    font-family: Lato;
    padding: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

body{
    font-family: Lato;
    margin: 0;
}

.left {
    background: #ECECEC;
    margin-left: 4%; 
}

.left,.right {
    webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    display: inline-block;
    width: calc(50% - 210px);
    border: 8px solid #BFBBBB;
    padding: 82px;
    position: relative;
    top: 30px;
    margin: 0;
    height: auto;
    min-height: 81%;

}

.right {
    background: #717171;
    position: relative;
    vertical-align: top;
    color: #fff;
    border-color: #585858;
    float: right;
}

.lefttext,.righttext {
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
}

#center ul{
    list-style-type: none;
}

.title {
    text-align: center;
    font-size: 48px;
}

.BenMirt:hover {
    color: #BFDEF9;
}
.name{
    display: none;
    top: 165px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
    background: #ADB1B9;
    width: 411px;
    z-index: 999;
    line-height: 0.5;
    border-radius: 20px;
}

#center {
    margin: 0 auto;
    height: auto;
    padding: 3vw;
    padding-top: 68px;
    font-size: 21px;
}

#container, .bottom{
    background: #130838;
}

.bottom{
    height: 48px;
}

#BenMirt {
    width: 401px;
    display: block;
    margin: 0 auto;
}

#center li{
    margin-bottom: 8px;
}

#footer{
    background: #0aa59f;
    height: 100px;
}

h1.contact {
    margin: 0;
    padding-top: 28px;
    float: right;
    margin-right: 19%;
}

div.contact{
    width: 50%;
    float: left;
    display: inline-block;
    position: relative;
}

.imgs{
    position: absolute;
    left: 19%;
    top: 12.5px;
}

.contact img{
    height: 75px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media screen and (max-width: 1295px){
    .left, .right{
        padding: 30px;
        width: calc(50% - 97px);
    }
}

@media screen and (max-width: 875px){
    .left, .right{
        margin: 0 auto;
        display: block;
        float: none;
        width: 70%;
        min-height: 0px;
    }

    .right{
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px){
    div.contact{
        text-align: center;
        display: block;
        width: 100%;
    }

    h1.contact{
        float: none;
        margin-right: 0;
    }

    .imgs{
        position: inherit;
        left: 0;
        top: 0;
        margin-top: 12.5px;
    }

    #footer{
        height: 175px;
    }
}

@media screen and (max-width: 540px){
    #me{
        padding: 70px 0px;
    }

    #BenMirt{
        font-size: 10vw;
        width: 70vw;
    }
}