body {
    margin: 0;
    margin-top: 200px;
}
.messages{
    width: 90vw !important;
    margin: 0 auto;
    display: none;
}
#tohide{
    display: none;
}
#select{
    width: 50vw;
}
#checkbox1, #checkbox2{
    width: 47vw;
    margin: 30px 10px 10px 0;
    display: inline-block;
    float: left;
}

.index_box {
    width: 100vw;
    margin: 0;
    box-shadow: 8px 2px 55px #f1f1f1;
    padding: 0px 45px 30px 35px;
    position: fixed;
    z-index: 9;
    background: white;
    top: 0;
    margin-bottom: 250px;
}

.input-field {
    width: 74%;
    display: inline-block;
    float: left;
}

button.btn {
    display: inline-block;
    float: right;
    margin-top: 25px;
    margin-right: 8px;
    width: 22%;
    background-color: #69bd87;
    margin-bottom: 60px;
}

.input-field .btn {
    background: #97e4b2;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 9px;
}

.index_box p {
    display: inline-block;
    margin-top: 60px;
}

.radio-buttons label {
    margin-top: 0;
}

.radio-buttons label {
    margin-right: 19px;
}

hr {
    width: 100%;
    border-color: #cefdde;
}

div#checkbox {
    margin-top: 0;
}

#tohide .btn {
    float: none;
    margin-bottom: 50px;
}

.graph_settings {
    text-align: center;
}

[type="checkbox"]+label {
    height: auto;
}

.radio-buttons {
    transition: 1s ease-in-out;
}